* {
    box-sizing: border-box;
  }

body {
    background-color: black;
    color: #fff;
    margin: 0;
}

.upper {
    list-style: none;
}


.lower {
    display: block;
    list-style: none;   
}


li {
    display: block;
    position: relative;
    padding: 15px;
    margin: 0;
    display: flex;
    align-items: center;
} 


li p {
    font-family: "Anton SC", sans-serif;
    letter-spacing: 0.15em;
    font-size: 2em;
    margin: 0;
}

.upper img {
    max-width: 50%;
    height: auto;

    margin: 0;
}

a {
    color: #fff;
    font-family: "Anton SC", sans-serif;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    position: relative;
    margin: 0;
}

a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: -3px;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    background: #682363;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }


a:hover:after { 
    width: 100%; 
    left: 0; 
  }

.main h1 {
    color: white;
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10em;
    margin: 0;
}


.main p {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5em;
    margin: 0;
}

.divcontainer:after{
    content: "";
    display: table;
    clear: both;
}

.navbar {
    float: left;
    width: 20%;
    text-align: left;
    margin: 0;
    padding: 0;
    border-right: 1px solid white;
}

.main {
    width: 80%;
    float: right;
    padding-left: 5em;
    margin: 0;
}



