* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: #fff;
    margin: 0;
}


/* LIST in navbar ---------------------------------------------------------- */
li {
    display: block;
    position: relative;
    padding: 15px;
    margin: 0;
    display: flex;
    align-items: center;
} 

/* Name header in navbar */
li p {
    font-family: "Anton SC", sans-serif;
    letter-spacing: 0.15em;
    font-size: 2em;
    margin: 0;
}

.upper img {
    max-width: 50%;
    height: auto;
    margin: 0;
}


/* NAVBAR LINKS --------------------------------------------------- */
.lower a, .upper a {
    color: #fff;
    font-family: "Anton SC", sans-serif;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    position: relative;
    margin: 0;
}

.upper a:hover, .lower a:hover {
    color: #682363;
    transition: 0.3s ease 0s;
}

.lower a:after, .upper a:after {   
    background: none repeat scroll 0 0 transparent;
    bottom: -3px;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    background: #682363;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.lower a:hover:after, .upper a:hover:after { 
    width: 100%; 
    left: 0;
}

.divcontainer:after{
    content: "";
    display: table;
    clear: both;
}


/* NAVBAR --------------------------------------------------------- */
.navbar {
    position: fixed;
    float: left;
    width: 20%;
    height: 100%;
    text-align: left;
    margin: 0;
    padding: 2em 0;
    border-right: 1px solid #fff;
    overflow-y: auto;
}


/* Social media buttons --------------------------------------------------- */
.some {
    display: flex;
    margin-top: 2em;
}

.some-buttons:hover, .some-buttons-li:hover {
    opacity: 0.7;
}

.some-buttons-li {
    color: #fff;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 35px;
    text-decoration: none;
}

.some-buttons img {
    width: 30px;
    height: auto;
}


/* MAIN --------------------------------------------------- */
.main {
    width: 80%;
    float: right;
    margin: 0;
    padding: 0;
}

/* Container for home header and mouse animation */
.container {
    display: table;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Container for home header contents */
.header-container {
    content: "";
    display: table;
    clear: both;
    display: flex;
    flex-direction: row;
    margin: 5em 5em 5em 3em;   
    height: 700px;
    position: relative;
}

/* Home bic picture */
.header-container::before {
    content : ""; 
    position: absolute;
    width : 100%;
    height : 100%;
    top: 0;  
    left: 0; 
    background:  url(/Pics/binary101.png) repeat-x fixed top center, linear-gradient(black, #682363) fixed;
    opacity: 60%;
    z-index: -1;
  }

  /* Container for home picture slogans */
  .slogans {
    width: 50%;
    position: absolute;
    bottom: 5em;
    right: 2em;
    margin: 0;
    padding: 2em;
  }

/* Allcaps slogan on home picture */
.slogan {
    color: #fff;
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
    letter-spacing: 0.1em;
}

/* Explanatory slogan on home picture */
.subslogan {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5em;
    margin: 0;
}

.piccontainer {
    width: 40%;
    overflow: hidden; /* To hide picture overflow */
}

#profilepic {
    height: 130%; /* zooming to be the right size */
    width: auto;
    transform: translateX(-5%) translateY(-12%); /* Moving picture a bit inside the container */
}


/* Subheaders on sections like About, Skills etc. ------------------ */
.subheader {
    font-family: "Anton SC", sans-serif;
    letter-spacing: 0.15em;
    font-size: 1.5em;
    margin: 0;
}



/* Subheaders in sections */
.content-about, .content-skills, .content-exp, .content-edu, .content-links {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5em;
    margin: 2em 8em 0em 3em;  /* top - right - bottom - left */
}

/* Content general texts */
.content-text {
    color: #BEBEBE;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 0.8em;
    margin: 0;
}



/* For centering the animated scroll-icon ----------------------------------------------------  */
.scroll-icon-container {
    display: flex;
    justify-content: center;
    margin: 0;
}

/* Scroll-element animation */
@keyframes scroll {
    0%   { transform: translateY(0); opacity: 1; } /* At start icon is in it original place */
    25%  { opacity: 1; } /* Opacity has changed whereas location is still the same */
    75%  { transform: translateY(.75em); opacity: 0; }
    100% { transform: translateY(0); opacity: 0; }
}
  
.scroll-icon__dot {
    display: block;
    position: absolute;
    left: 50%;
    background: #fff;
    height: .5em;
    width: .5em;
    top: .6em;
    margin-left: -.25em;
    border-radius: 50%;
    transform-origin: top center;
    backface-visibility: hidden;
    animation: scroll 2s ease-out infinite;
}
  
  /* General icon style */
.scroll-icon {
    display: block;
    position: relative;
    height: 3em;
    width: 2em;
    border: .25em solid #fff;
    border-radius: 1em;
    margin: 0;
}


/* DIVIDER LINE --------------------------------------------------------- */
.div-line {
    border-top: 1px solid #fff;
    margin-top: 5em;
}


/* CONTENT ABOUT-------------------------------------------------------- */


.content-about p {
    margin-top: 1em;
}



/* CONTENT SKILLS -------------------------------------------------------- */


/* Skill bars ------------------------------------------------------------- */
.skills-container {
    width: 100%;
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    gap: 2em;
}

#skills {
    padding-bottom: 1em;
}

.skill {
    flex: 1 1 20%;
    margin: 0 1.5em 0 0;   /* top - right - bottom - left */
}

.skill-name {
    margin: 0;
}

.skill-bar {
    width: 250px;
    background-color: #ddd;
    margin: 10px 0;
    overflow: hidden;
    font-family: "Anton SC", sans-serif;
    font-size: 0.65em;
    letter-spacing: 0.15em;
}
  
.skill-bar-fill {
    height: 24px;
    background-color: #682363;
    width: 0;
    text-align: right;
    line-height: 24px;
    color: #fff;
    padding-right: 5px;
    transition: width 0.5s;
}


/* CONTENT EDUCATION -------------------------------------------------------- */
.column-container {
    display: flex;
    width: 100%;
    gap: 4em;
}

.left-edu {
    float: left;
    width: 50%;
    margin-top: 1em;    
    padding: 0 0 0 1em;  /* top - right - bottom - left */
    border-left: 3px solid #682363;
}

.right-edu {
    float: right;
    width: 50%;
    margin-top: 0.8em;    
    padding: 0 0 0 1em;  /* top - right - bottom - left */
    border-left: 3px solid #682363;
}


/* Collapsible-work information ------------------------------------------------- */
.collapsible {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    background-color: #682363;
    color: #fff;
    cursor: pointer;
    padding: 1em;
    margin-top: 2em;
    width: 80%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 0.8em;
}
  
.active, .collapsible:hover {
    opacity: 80%;
}
  
.collapsible:after {
    content: '\25BC';
    color: #fff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: "\25B2";
}



.content {
    width: 80%;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 0.8em;
    text-wrap: wrap;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #0a0a0a;
}

.work-info {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    letter-spacing: 0.15em;
    font-size: 0.8em;
    margin: 0;
    padding-top: 1em;
}

.work-text {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 0.8em;
}

