body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F2E9EB;
  }
  header {
    background-color: #F2E9EB;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

.grid-item1 { grid-area: header; }
.grid-item2 { grid-area: menu; }
.grid-item3 { grid-area: left; }
.grid-item4 { grid-area: right; }
.grid-item5 { grid-area: footer; }

  .grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'menu menu left left right right'
      'footer footer footer footer footer footer';
    gap: 10px;
    background-color: #2196F3;
    padding: 0.7em;
    margin: 2em;
    grid-column-gap: 1em;
  }

  .grid-item1 {
    grid-area: header;
    padding: 1em;
  }

  .grid-item2 {
    grid-area: menu;
  }

  .grid-item3 {
    grid-area: left;
  }

  .grid-item4 {
    grid-area: right;
  }

  .grid-item5 {
    grid-area: footer;
  }

  .grid-container > div {
    background-color: #F2E9EB;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

  .profile-picture {
    margin: 2em;

  }
  .profile-picture img {


  }


  h1, h2, h3 {
    color: #DD8EA4;
    font-family: 'Sofia', cursive; 
  }


  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    margin-bottom: 0.2em;
    color: #31383F;
    font-size: 0.7em;
    
  }


/* ------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------------------------------*/



  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .grid-container  {
    grid-template-areas: 
      'header header header header header header'
      'menu menu menu menu menu menu'
      'right right right right right right'
      'left left left left left left'  
      'footer footer footer footer footer footer';
      padding: 0em;
      margin: 0em;
  }

  .grid-container > div {
    background-color: #F2E9EB;
    text-align: center;
    padding: 0;
    font-size: 1.3em;
  }

  .grid-item1 {
    padding: 0em;
  }

  .profile-picture {
    margin: 0;
  }

  .profile-picture img {
    max-height: 10em;

  }
}